*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;  
    color: antiquewhite; 
    background-color: rgb(27, 26, 26);
}
body.active{
    overflow: hidden;
}
/* NAVBAR CSS */
nav{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 26, 26);
    padding: 2rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
}
nav.active{
    visibility: visible;
    z-index: 1;
    overflow: hidden;
     
   }
a{
    text-decoration: none;
    color: antiquewhite;   
}
#main-logo{
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    }
.link{
    display: inline-block;
    position: relative;
    padding-bottom: .25rem;
}
.link::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: antiquewhite;
    transition: width 0.25s ease-out;
}
.link:hover::before{
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;   
}
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.nav-contacts{
    display: flex;
    gap: 1rem;
}

.hamburger-menu{
    justify-self: start;
    margin: 2rem;
    position: fixed;
    z-index: 1;
}
.bar{
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1rem;
    margin: 5px auto;
    background-color: antiquewhite;
    transition: all 0.3s ease-in-out;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
/* RESUME CSS */
a{
    text-decoration: none;
    color: antiquewhite;
}

.resume-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, max-content);
    gap: 2em;
    width: 100%;
    padding: 100px 2rem 2rem;
    grid-template-areas: 
    'header'
    'contacts'
    'summary'
    'skills'
    'work'
    'education'
    'interests'
    'footer';
}
.summary{
    grid-area: summary;
}
.skills{
    grid-area: skills;
}
.work-history{
    grid-area: work;
}
.education{
    grid-area: education;
}
.interests{
    grid-area: interests;
}

.resume-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(35, 34, 34);
    grid-area: header;
}
.resume-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(35, 34, 34);
    grid-area: contacts;
}
.resume-header>h1{
    font-size: 11vw;
}
.resume-header>p{
    align-self: flex-end;
    margin-top: -10px;
    font-size: 3vw;
}
.resume-contacts{
    gap: 1rem;
}
.summary, .skills, .interests, .work-history, .education{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(35, 34, 34);
    gap: .5rem;
    line-height: 1.5rem;
}
.skills-list>li , .interest-list>li{
    background-color:   grey;
    padding: .25rem .65rem;
    margin-right: .5rem;
    margin-top: .5rem;
    border-radius: .5rem;
}
.skills-list, .interest-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.work-list, .education-list{
    padding-left: 1rem;
}
span{
    font-weight: bolder;
}
blockquote{
    margin-bottom: 2rem;
    border-left: solid 2px antiquewhite;
    padding-left: 1rem;
}
.item{
    border-radius:1rem;
    transition: all 0.3s ease-in-out;
    
    grid-template-areas: 
    "image"
    "content";
}
.item:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,8);
    transform: scale(1.1);}
/* FOOTER CSS */
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    gap: 1rem;
    
}
.footer-list{
    display: none;
}
.copyright{
    font-size: .75rem;
    opacity: .5;
}

/* MEDIA QUERIES */
@media (min-width:768px){
    .resume-section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'header summary'
        'contacts skills'
        'work work'
        'education education'
        'interests interests'
        'footer footer';
        padding-bottom: 0;
    }
    .resume-header{
        justify-content: center;
    }
    .resume-header>h1{
        font-size: 4vw;
    }
    .resume-header>p{
        font-size: 1.5vw;
    }
}
@media (min-width:960px){
    .hamburger-menu{
        display: none;
    }
    nav{
        visibility: visible;
        height: max-content;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-links, .nav-contacts{
        flex-direction: row;
    }
    .portfolio-title{
        font-size: 3.5rem;
    }
    
    .resume-section{
        width: min(90%,70rem);
        margin: auto;
    }
}