section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}
article{
    display: grid;
    height: 50vh;
    width: 15vw;
    border-radius: 1rem;
    grid-template-areas: 
    "blurb"
    "image";
}
img{
    width: 100%;
    height: 100%;
    grid-area: image;
    border-radius: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    grid-area: blurb;
    background-color: aqua;
    border-radius: 1rem; 
    
}